@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic');
//variables
//backgrounds
$base-dark-bg-color: #3D4A4F;
$base-light-bg-color: #FFFFFF;
$color-header: #374246;
$base-items-color: #DDDDDD;
$circle-color: #707070;

//founts
$base-green-color: #70B100;
$color-dark-header-section: #061C06;
$color-light-header-section: #FFFFFF;
$color-list-products: #001A00;
$color-card-clients: #001C00;
$black-color: #000000;

//sizes
$height-header: 60px;
$header-underline-width: 77px;


//general
.header-part {
  text-align: center;
  font: normal 30px/37px Montserrat;
  letter-spacing: 0;
  opacity: 1;

  &__span {
    vertical-align: middle;
    line-height: 25px;
    height: 53px;
    position: relative;
    //top: 50%;
    //margin-top: -18px;
    margin: 71px auto;
  }

  &__span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: $header-underline-width;
    height: 3px;
    font-weight: 600;
    background: $base-green-color;
    margin-left: -$header-underline-width / 2;
  }
}

.logo {
  float: left;

  &__img {
    opacity: 1;
  }
}

// header
.header {
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 10;
  line-height: $height-header;
  background: $color-header 0 0 no-repeat padding-box;

  .menu {
    justify-content: flex-end;
    vertical-align: middle;

    &__list {
      margin-bottom: 0;
      padding-left: 0;
    }

    &__item {
      display: inline-block;
      margin-left: 30px;
      cursor: pointer;
    }

    &__link {
      text-decoration: none;
      text-align: center;
      font: normal 14px/18px Montserrat;
      letter-spacing: 0;
      opacity: 1;
      color: $color-light-header-section;
      display: inline-block
    }

    &__link:hover {
      color: $base-green-color;
      cursor: pointer
    }
  }
}

// slider
.slider {
  background: $color-dark-header-section 0 0 no-repeat padding-box;

  .carousel {
    .carousel-indicators {
      margin-bottom: 0;
      bottom: 39px;

      &__item {
        width: 50px;
        height: 0;
        background: $base-items-color 0 0 no-repeat padding-box;
        border-bottom: 2px solid $color-light-header-section;
        opacity: 1;
        margin-left: 5px;
        margin-right: 5px
      }

      .active {
        border-bottom: 2px solid $base-green-color;
        opacity: 1
      }
    }

    .carousel-inner {
      height: inherit;

      .carousel-item {
        height: inherit;

        &__img {
          height: inherit;
          opacity: 0.4;
        }

        .carousel-caption {
          width: 675px;
          text-align: left;
          letter-spacing: 0;
          color: $color-light-header-section;
          opacity: 1;
          z-index: 10;
          top: 202px;
          left: 137px;
          padding-top: 0;

          &__rectangle {
            background: $base-green-color 0 0 no-repeat padding-box;
            position: absolute;
            top: 90px;
            left: 169px;
            width: 409px;
            height: 555px;
            transform: skewX(- 13deg);
            opacity: 0.89;
            z-index: 8
          }

          &__header {
            font: Bold 60px/73px Montserrat;
            font-size: 60px;
            text-transform: uppercase;
            height: 163px;
            display: inline-block;
          }

          &__description {
            width: 485px;
            font: normal 18px/26px Montserrat;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

//Key products
.key-products {
  background: $base-light-bg-color 0% 0% no-repeat padding-box;
  opacity: 1;

  .header-part {
    color: $color-dark-header-section;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  .products {
    padding-left: 0;

    &__item {
      list-style: none;
      height: 78px;
      border-bottom: 1px solid $base-items-color;
      border-top: 1px solid $base-items-color;
      width: 100%;
      text-align: left;
      cursor: pointer;

      span {
        text-align: left;
        // выдало ошибку на строку: font: Medium 22px/24px Montserrat;
        font-weight: 500;
        line-height: 24px;
        font-size: 20px;
        font-family: Medium Montserrat, sans-serif;
        letter-spacing: 0;
        color: $color-list-products;
        opacity: 1;
      }

      .inner {
        display: none;
      }
    }

    &__item_active {
      min-height: 245px;

      .inner {
        //margin-top: 30px;
        top: 50%;
        margin-top: -105px;
        //margin-bottom: 35px;
        display: block;
        position: relative;

        p {
          text-align: left;
          font: lighter 16px/24px Montserrat;
          letter-spacing: 0;
          color: $color-dark-header-section;
          opacity: 1;
          margin-left: 48px;
        }
      }
    }

    &__item:before {
      content: url("../../images/ic-arrow-downward-24px-2.svg");
      transform: matrix(-1, 0, 0, -1, 0, 0);
      opacity: 1;
      margin-right: 25px;
      position: relative;
      top: 5px;
    }

    &__item_active:before {
      content: url("../../images/ic-arrow-downward-24px.svg");
      opacity: 1;
      margin-right: 25px;
      position: relative;
      top: 5px;
    }
  }
}

//Main technologies
.main-technologies {
  background: $base-dark-bg-color 0% 0% no-repeat padding-box;
  opacity: 1;

  .header-part {
    color: $color-light-header-section;

    &__span {
      margin-bottom: 0;
    }
  }

  .card {
    background-color: inherit;
    border: none;
    margin-top: 85px;
    margin-bottom: 52px;

    .card-img-top {
      width: 47px;
      height: auto;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
    }

    .card-body {
      .card-title {
        text-align: center;
        // выдало ошибку "invalid property" на строку: font: Medium 22px/24px Montserrat;
        font-weight: 500;
        font-size: 22px;
        font-family: Medium Montserrat, sans-serif;
        letter-spacing: 0;
        color: $base-green-color;
        opacity: 1;
        margin-bottom: 24px;
      }

      .card-text {
        text-align: center;
        font: lighter 16px/24px Montserrat;
        letter-spacing: 1px;
        color: $color-light-header-section;
        opacity: 1;
      }
    }
  }
}

//Who are Our Clients?
.our-clients {
  background: $base-light-bg-color 0% 0% no-repeat padding-box;
  opacity: 1;

  .header-part {
    color: $color-dark-header-section;
  }

  .card {
    max-height: 484px;
    border: 1px solid $color-card-clients;
    border-radius: 9px;
    margin-bottom: 97px;

    .card-body {
      padding-top: 0;
      padding-bottom: 37px;

      .card-title {
        text-align: center;
        font: normal 23px/28px Montserrat;
        letter-spacing: 0;
        color: $black-color;
        opacity: 1;
        height: 38px;
        margin-bottom: 33px;
      }
    }

    .card-img-top {
      max-width: 230px;
      height: auto;
      margin: 34px auto 43px auto;
    }

    .card-text {
      text-align: center;
      font: lighter 16px/19px Montserrat;
      letter-spacing: 0;
      color: $black-color;
      opacity: 1;
      line-height: 22px;
      height: 85px;

      span {
        text-align: center;
        font: lighter 16px/19px Montserrat;
        letter-spacing: 0;
        color: $base-green-color;
        opacity: 1;
        line-height: 1px;
      }
    }
  }

  .card:hover {
    border: 1px solid $base-green-color;

    .card-img-top {
      transform: scale(1.2);
      transition: 0.4s;
    }
  }
}

//Case Studies
.case-studies {
  background: $base-dark-bg-color 0% 0% no-repeat padding-box;
  opacity: 1;

  .header-part {
    color: $color-light-header-section;

    .header-part__span {
      margin-bottom: 64px;
    }
  }

  .carousel-item {
    .carousel-caption {
      top: 0;
      text-align: left;

      .head-case {
        text-align: left;
        font: lighter 30px/37px Montserrat;
        letter-spacing: 0;
        color: $color-light-header-section;
        opacity: 1;
        height: 53px;
        line-height: 20px;
      }

      p {
        text-align: left;
        font: lighter 16px/25px Montserrat;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;

        span {
          text-align: left;
          font: normal 8px/25px Montserrat;
          letter-spacing: 0.8px;
          color: $base-green-color;
          opacity: 1;
        }
      }
    }

    .case-image {
      width: 700px;
    }
  }
}

//Who are Our Clients? - second section
.our-team {
  background: $base-light-bg-color 0% 0% no-repeat padding-box;
  opacity: 1;

  .header-part {
    margin-bottom: 168px;

    .header-part__span {
      margin-bottom: 0;
    }
  }

  .rectangle {
    width: 693px;
    height: 298px;
    border: 1px solid $color-card-clients;
    border-radius: 9px;
    position: relative;
    left: 50%;
    margin-left: -345px;
    margin-bottom: 179px;

    .content {
      opacity: 1;
      max-width: 560px;
      max-height: 134px;
      margin-left: auto;
      margin-right: auto;

      p {
        margin-top: 125px;
        text-align: center;
        font: lighter 16px/27px Montserrat;
        letter-spacing: 0;
        color: $black-color;
        margin-bottom: 0;
      }
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      height: 123px;
      width: 123px;
      background: $color-light-header-section 0% 0% no-repeat padding-box;
      border: 1px solid $circle-color;
      top: -61px;
      left: 50%;
      margin-left: -61px;
      opacity: 1;
    }
  }

  .rectangle:before {
    content: url("../../images/right-arrow.svg");
    //transform: matrix(-1, 0, 0, -1, 0, 0);
    opacity: 1;
    position: absolute;
    right: -86px;
    top: 50%;
  }

  .rectangle:after {
    content: url("../../images/right-arrow.svg");
    transform: matrix(-1, 0, 0, -1, 0, 0);
    opacity: 1;
    position: absolute;
    left: -86px;
    top: 50%;
  }

  .header-part {
    color: $color-dark-header-section;
  }
}

//footer
.footer {
  background: $base-dark-bg-color 0% 0% no-repeat padding-box;
  opacity: 1;
  line-height: 211px;

  .logo {
    .logo__img {
      width: 320px;
      height: auto;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  //Key products
  .key-products {
    .products {
      padding-left: 10px;

      &__item span {
        font-size: 18px;
      }

      &__item_active {
        min-height: 245px;
        font-size: 18px;

        .inner {
          p {
            font: lighter 15px/20px Montserrat;
            margin-left: 15px;
            margin-right: 15px;
          }
        }
      }

      &__item:before {
        margin-right: 10px;
      }

      &__item_active:before {
        margin-right: 10px;
      }
    }
  }

  //Main technologies
  .main-technologies {

    .card {
      margin-top: 50px;

      .card-body {
        .card-title {
          // выдало ошибку на строку: font: Medium 22px/24px Montserrat;
          font-weight: 500;
          font-size: 22px;
          font-family: Medium Montserrat, sans-serif;
          margin-bottom: 24px;
        }

        .card-text {
          font: lighter 18px/24px Montserrat;
        }
      }
    }
  }

  //Who are Our Clients?
  .our-clients {
    .card {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  //footer
  .footer {
    line-height: 130px;

    .logo {
      text-align: center;
      float: none;

      .logo__img {
        width: 220px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  //general
  .header-part {
    font: normal 30px/37px Montserrat;

    &__span {
      margin: 35px auto;
    }

  }

  .logo {
    &__img {
      height: 45px;
      width: auto;
    }
  }

  //header
  .header {
    .menu {
      &__item {
        margin-left: 0;
        text-align: center;
      }

      &__link {
        font: normal 18px/20px Montserrat;
      }
    }
  }
}

@media only screen and (min-width: 461px) and (max-width: 575px) {
  //Key products
  .key-products {
    .products {
      padding-left: 10px;

      &__item {
        font-size: 22px;

        &__item:before {
          margin-right: 10px;
        }
      }

      &__item_active {
        min-height: 245px;
        font-size: 22px;

        &__item_active:before {
          margin-right: 10px;
        }

        .inner {
          p {
            margin-left: 15px;
            margin-right: 15px;
          }

        }
      }
    }
  }

  //Main technologies
  .main-technologies {

    .card {
      margin-top: 50px;

      .card-body {
        .card-text {
          font: lighter 19px/24px Montserrat;
        }
      }
    }
  }

  //Who are Our Clients?
  .our-clients {
    .card {
      margin-bottom: 15px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  //Key products
  .key-products {
    .products {
      padding-left: 10px;

      &__item {
        font-size: 23px;
      }

      &__item_active {
        min-height: 245px;
        font-size: 23px;

        .inner {
          p {
            font-size: 19px;
            margin-left: 15px;
            margin-right: 15px;
          }
        }

      }
    }
  }

  //Main technologies
  .main-technologies {

    .card {
      margin-top: 50px;

      .card-body {
        .card-text {
          font: lighter 19px/24px Montserrat;
        }
      }
    }
  }

  //Who are Our Clients?
  .our-clients {
    .card {
      margin-bottom: 15px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //footer
  .footer {
    line-height: 130px;

    .logo {
      float: left;

      .logo__img {
        width: 220px;
      }
    }
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  //general
  .header-part {
    font: normal 30px/37px Montserrat;

    &__span {
      margin: 35px auto;
    }

  }

  //header
  .header {
    .menu {
      &__item {
        margin-left: 24px;
      }
    }
  }

  //Key products
  .key-products {
    .products {
      padding-left: 0;
      margin-left: -15px;
      margin-right: -15px;

      &__item {
        font-size: 16px;
      }

      &__item:before {
        margin-right: 10px;
      }

      &__item_active:before {
        margin-right: 10px;
      }

      &__item_active {
        min-height: 245px;
        font-size: 16px;

        .inner {
          p {
            font-size: 13px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }


      }
    }
  }

  //Main technologies
  .main-technologies {
    .card {
      margin-top: 40px;
      max-height: 315px;

      .card-body {
        .card-text {
          font: lighter 17px/24px Montserrat;
          letter-spacing: 0;
        }
      }
    }
  }

  //Who are Our Clients?
  .our-clients {
    .card {
      margin-bottom: 30px;
      width: 100%;
      max-height: 434px;

      .card-body {
        .card-title {
          text-align: center;
          font: normal 17px/28px Montserrat;
          margin-bottom: 33px;
        }

        .card-text {
          span {
            line-height: 25px;
          }
        }
      }
    }
  }

  //footer
  .footer {
    line-height: 130px;

    .logo {
      float: left;

      .logo__img {
        width: 220px;
      }
    }
  }
}
